.user-item {
    display: flex;
    margin-bottom: 20px;
    /*margin-left: 10px;*/
}

.user-item .icon {
    margin-right: 10px;
}

.user-item .icon img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.user-item .main .nickname {
    font-size: 18px;
}

.user-item .main .username {
    font-size: 18px;
    opacity: 0.7;
}

.h1-user{
    /*margin-left: 10px;*/
}

.div-user{
    margin-left: 10px;
}


